<?php /* @var $this Controller */ ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ca_ES" lang="ca_ES">
<head>
    <title><?php echo CHtml::encode($this->pageTitle); ?></title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="<?php echo Yii::app()->baseUrl; ?>/adminui/styles/style.css" />
    
    
    <?php Yii::app()->clientScript->registerCoreScript('jquery'); ?>
    <script type="text/javascript" src="<?php echo Yii::app()->baseUrl; ?>/adminui/script/main.js"></script> 
</head>

<body>

<?php $this->widget('bootstrap.widgets.TbNavbar',array(
    // 'brand'=>CHtml::image(Yii::app()->getBaseUrl().'/images/logo.jpg'),
    'items'=>array(
        
        array(
            'class'=>'bootstrap.widgets.TbMenu',
            'items'=>array(
                // array('label'=>'Home', 'url'=> $this->createUrl('site/index')),
                array('label'=>'Inicio', 'url'=> $this->createUrl('post/index')),
                array('label'=>'Galería de Imagenes', 'url'=> $this->createUrl('image/index')),
                array('label'=>'Contacto', 'url'=> $this->createUrl('site/contact')),
                // array('label'=>'Login', 'url'=> $this->createUrl('user/login'), 'visible'=> Yii::app()->user->isGuest),
                array('label'=>'Login', 'url'=> $this->createUrl('site/login'), 'visible'=> Yii::app()->user->isGuest),
                array('label'=>'Login-test', 'url'=> $this->createUrl('user/login'), 'visible'=> Yii::app()->user->isGuest),
                array('label'=>'Logout ('.Yii::app()->user->name.')', 'url'=>array('site/logout'), 'visible'=>!Yii::app()->user->isGuest)
                // array('label'=>'Logout ('. Yii::app()->user->getState('name') .')', 'url'=>$this->createUrl('site/logout'), 'visible'=>!Yii::app()->user->isGuest),
            ),
        ),
        
        '<form class="navbar-search pull-right">
                <input type="text" class="search-query span3" placeholder="Search">
                <div class="icon-search"></div>
            </form>',
        // CHtml::image(Yii::app()->getBaseUrl().'/images/logo.jpg'),   LOGO DRETA
          
    ),

)); ?>

<div class="container" id="page">
    
    <?php if(isset($this->breadcrumbs)):?>
        <?php $this->widget('bootstrap.widgets.TbBreadcrumbs', array(
            'links'=>$this->breadcrumbs,
            'homeLink' => Chtml::link(Yii::t('SVGA', 'Inicio'), $this->createUrl('post/index'))
        )); ?><!-- breadcrumbs -->
    <?php endif?>

    <?php $this->widget('bootstrap.widgets.TbAlert', array(
        'block'=>true, 
        'fade'=>true, 
        'closeText'=>'&times;', 
    )); ?>

    <?php echo $content; ?>

    <div class="copyright">
            <div class="container">
                <div class="row-fluid">
                    <div class= "span7"><p>Copyright &copy; <?php echo date('Y'); ?> by SVGA. || All Rights Reserved.</p></div>
                    <div class="span5">
                        <?= CHtml::link(Yii::t('SVGA', 'Home'), $this->createUrl('post/index'))?> |
                        <?= CHtml::link(Yii::t('SVGA', 'Contacte'), $this->createUrl('site/contact'))?> |
                        <?= CHtml::link(Yii::t('SVGA', 'Política de privacitat'), $this->createUrl('site/privacy'))?> |
                        <?= CHtml::link(Yii::t('dSVGA', 'Quant a aquest web'), $this->createUrl('site/about'))?>
                  </div>
               </div><!-- footer -->
           </div>

    </div><!-- page -->

</body>
</html>
